version: '3.8'

services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  server:
    build: ./server
    ports:
      - "8000:8000"
    env_file:
      - ./server/.env
    depends_on:
      - redis

  client:
    build: ./client
    ports:
      - "3000:80"
    depends_on:
      - server
