# Python
__pycache__/
*.py[cod]
*$py.class
.Python
build/
dist/

MANIFEST

# Virtual Environment
venv/
env/
.venv

# Environment Variables
.env
.env.local
.env.*

# Logs
logs/
*.log

.cache


# Editors / IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store


.vercel

prisma/*.db
prisma/*.db-journal
prisma/migrations


temp/
